<!-- login.html -->
<!DOCTYPE html>
<html>

{% load static %}
<link href="{% static 'newyear/styles.css' %}" rel="stylesheet">
<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
 
<head>
    <title>Signup Form</title>
</head>

<nav style="text-align: center;">
    <ul>
        <li style="display: inline-block; margin-right: 30px;">
            <a href="/" style="font-size: 1.2rem; color: white; font-family: sans-serif;">Home</a>
          </li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/about" style="font-size: 1.2rem; color: #FFF;">About</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/contact_form" style="font-size: 1.2rem; color: #FFF;">Contact</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/faq" style="font-size: 1.2rem; color: white ;">FAQ</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/feedback" style="font-size: 1.2rem; color: #FFF;">Feedback</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/signup" style="font-size: 1.2rem; color: #FFF;">Signup</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/login" style="font-size: 1.2rem; color: #FFF;">Login</a></li>
          <li style="display: inline-block; margin-right: 30px; font-family: sans-serif;"><a href="/aiconnectwebsite/prompt" style="font-size: 1.2rem; color: #FFF;">Prompt Training</a></li>
      <!--<li style="display: inline-block; margin-right: 30px;"><a href="/prompt" style="font-size: 1.2rem; color: #FFF;">Prompt Training</a></li> -->
      <!-- <li style="display: inline-block; margin-right: 30px;"><a href="/login" style="font-size: 1.2rem; color: #FFF;">Login to your Account</a></li> -->
      <!--<li style="display: inline-block; margin-right: 30px;"><a href="/sign-up" style="font-size: 1.2rem; color: #FFF;">Sign Up!</a></li> -->
    </ul>
  </nav>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h1>Login In</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>

 

 </html>
</html>